<body class="body3">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white " routerLink="/dashboard">Sense of Smell</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active text-white" aria-current="page" routerLink="/dashboard">Dashboard</a>
            <a class="nav-link text-white" routerLink="/userlist">Users</a>
            <a class="nav-link text-white" routerLink="/productlist">Products</a>
            <a class="nav-link text-white" routerLink="/delete">Delete</a>
            <button (click)="logout()" >Logout</button>
         </div>
        </div>
      </div>
    </nav>
  
  
    <h5 class="text-white text-center text-secondary mt-5">Identify Your Brand Voice</h5>
    
      <!-- <p style="color: rgb(214, 214, 240);text-align: center;">Login Time(formatted):{{date|date:'short'}} </p> -->
     
  
  
  
  
  
  </body>

